* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;} 

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 1.2em;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

import, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


/* обнуление стилей закончено */

body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

th, td {
  padding: 15px;
	text-align: left;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

tr:hover {
	background-color: #ccc;
}

th {
	background-color: #ccc;
}

button {
	margin: 5px;
	background-color: #007ad9;
	color: #fff;
	height: 50px;
	min-width: 50px;
	padding: 10px;
	font-size: 1.2em;
	border: 1px solid;
	border-radius: 5px;
}

button:hover {
	background-color: #5babe9;
}

button:active {
	background-color: #005291;
}

input {
	line-height: 1;
	font-size: large;
}

.table-organization {
	padding: 20px;
}

.modal-organization {
	display: none;
	position: fixed;
	top: 0px;
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: #00529182;
}


.modal-form-box {
	padding: 20px;
	background-color: #fff;
	opacity: 1;
	margin: auto;
}

.field-title {
	width: 460px;
	padding-right: 10px;
}

.field-item {
	width: 100%;
}

.field-item input{
	width: 100%;
	border-bottom: 1px solid rgb(77, 77, 77);
}

.form-field {
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid rgb(77, 77, 77);
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.form-buttons {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.form-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.close-button {
	cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#map {
	width: 100%;
	height: 90%;
	min-height: 500px;
}